In [5]:
# Imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Loading the dataframe
flights = pd.read_csv('../flights_prepared.csv', header=0, engine='python', encoding='utf-8')

In [3]:
flights.head(5)

,Empresa,Ano,Mes,Aeroporto Origem,Aeroporto Origem Pais,Aeroporto Origem Continente,Aeroporto Destino,Aeroporto Destino Pais,Aeroporto Destino Continente,Natureza,Grupo de Voo,Passageiros Pagos,Passageiros Gratis,Carga Paga,Carga Gratis,Correio,Distancia,Decolagens,Assentos,Payload
0,AAL,2000,1,KDFW,ESTADOS UNIDOS,AMÉRICA DO NORTE,SBGR,BRASIL,AMÉRICA DO SUL,Internacional,Regular,3932.0,142.0,97876.0,0.0,73.0,246750.0,30.0,6330.0,1050000.0
1,AAL,2000,1,KJFK,ESTADOS UNIDOS,AMÉRICA DO NORTE,SBGL,BRASIL,AMÉRICA DO SUL,Internacional,Regular,2338.0,131.0,48066.0,0.0,8034.0,223068.0,29.0,6119.0,464000.0
2,AAL,2000,1,KJFK,ESTADOS UNIDOS,AMÉRICA DO NORTE,SBGR,BRASIL,AMÉRICA DO SUL,Internacional,Regular,2892.0,127.0,194997.0,0.0,1980.0,221444.0,29.0,6119.0,1015000.0
3,AAL,2000,1,KMIA,ESTADOS UNIDOS,AMÉRICA DO NORTE,SBCF,BRASIL,AMÉRICA DO SUL,Internacional,Regular,602.0,32.0,20154.0,948.0,3129.0,26748.0,4.0,0.0,0.0
4,AAL,2000,1,KMIA,ESTADOS UNIDOS,AMÉRICA DO NORTE,SBGL,BRASIL,AMÉRICA DO SUL,Internacional,Regular,3984.0,121.0,100733.0,5974.0,31215.0,180549.0,27.0,5486.0,910000.0

In [53]:
# Aeroportos
aerodromes = pd.read_csv('../aerodrome.csv', header=0, engine='python', encoding='utf-8')

In [54]:
#
aerodromes.head()

  Sigla                      Nome            Pais        Continente
0  KDFW         DALLAS/FORT WORTH  ESTADOS UNIDOS  AMÉRICA DO NORTE
1  KJFK                  NEW YORK  ESTADOS UNIDOS  AMÉRICA DO NORTE
2  KMIA                     MIAMI  ESTADOS UNIDOS  AMÉRICA DO NORTE
3  SBCF  BELO HORIZONTE - CONFINS          BRASIL    AMÉRICA DO SUL
4  SBGL   RIO DE JANEIRO - GALEÃO          BRASIL    AMÉRICA DO SUL

In [59]:
# 962 Aerodromos
aerodromes['Sigla'].describe(include=['category'])

count      962
unique     962
top       MUSC
freq         1
Name: Sigla, dtype: object

In [60]:
# 130 Paises
aerodromes['Pais'].describe(include=['category'])

count        950
unique       130
top       BRASIL
freq         447
Name: Pais, dtype: object

In [ ]:
# Empresas Aereas

In [15]:
# Sao 214 empresas aereas
flights['Empresa'].describe(include=['category'])

count     781318
unique       214
top          GLO
freq      139581
Name: Empresa, dtype: object

In [32]:
# É interessante notar que a varig, mesmo nao existindo mais, ainda esta em quarto lugar de mais decolagens
total_flights = flights.groupby('Empresa').Decolagens.sum()
total_flights.nlargest(10)

Empresa
TAM    4.479720e+06
GLO    4.425716e+06
AZU    1.419631e+06
VRG    1.136518e+06
TIB    8.000445e+05
ONE    6.545983e+05
VSP    5.040054e+05
RSL    3.594166e+05
PTB    3.140649e+05
NES    2.228132e+05
Name: Decolagens, dtype: float64

In [34]:
# As empresas TAM, GOL, AZUL e VARIG representam 65,2% do total de viagens no periodo
total = flights['Decolagens'].sum()
biggest_companies = total_flights['TAM'] + total_flights['GLO'] + total_flights['AZU'] + total_flights['VRG']
biggest_companies/total

0.65234185408034895

In [47]:
# Quanto ao número de passageiros
passengers = flights.groupby('Empresa')['Passageiros Pagos'].sum()
passengers.nlargest(10)

Empresa
TAM    4.080088e+08
GLO    3.488219e+08
AZU    9.750787e+07
VRG    7.402354e+07
ONE    4.641281e+07
TIB    2.253758e+07
AAL    1.869503e+07
WEB    1.814568e+07
TAP    1.769515e+07
VSP    1.702968e+07
Name: Passageiros Pagos, dtype: float64

In [49]:
# Quanto ao numero de passageiros, essa % aumenta para 74,6%, quase 1/4 do numero de passageiros transportados
total_passengers = flights['Passageiros Pagos'].sum()
top_passengers = passengers['TAM'] + passengers['GLO'] + passengers['AZU'] + passengers['VRG']
top_passengers/total_passengers

0.74573102430618121

In [39]:
# No quesito viagens internacionais
international_flights = flights[flights['Natureza'] == 'Internacional'].groupby('Empresa').Decolagens.sum()
international_flights.nlargest(10)

Empresa
TAM    287777.098831
GLO    253142.007152
VRG    213122.994127
AAL    120732.000000
ARG     88754.000000
TAP     87911.000000
LAP     70082.000000
CMP     59076.000000
UAL     55032.000000
LAN     52693.000000
Name: Decolagens, dtype: float64

In [41]:
# As empresas TAM, GOL, VARIG e American Airlines representam 42,0% do total de viagens no periodo
international_total = flights[flights['Natureza'] == 'Internacional']['Decolagens'].sum()
international_biggest_companies = international_flights['TAM'] + international_flights['GLO'] + international_flights['VRG'] + international_flights['AAL']
international_biggest_companies/international_total

0.42008883754211329

In [50]:
# Quanto ao número de passageiros internacionais
intl_passengers = flights[flights['Natureza'] == 'Internacional'].groupby('Empresa')['Passageiros Pagos'].sum()
intl_passengers.nlargest(10)

Empresa
TAM    4.301775e+07
VRG    2.020767e+07
AAL    1.869503e+07
TAP    1.769515e+07
GLO    1.637972e+07
AFR    9.192410e+06
ARG    7.468255e+06
UAL    7.137576e+06
DAL    6.901374e+06
IBE    6.616464e+06
Name: Passageiros Pagos, dtype: float64