In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
original_dataset = pd.read_csv('../flights_prepared.csv', header=0, engine='python', encoding='utf-8')

In [3]:
original_dataset.head()

,Empresa,Ano,Mes,Aeroporto Origem,Aeroporto Origem Pais,Aeroporto Origem Continente,Aeroporto Destino,Aeroporto Destino Pais,Aeroporto Destino Continente,Natureza,...,Carga Gratis,Correio,Distancia,Decolagens,Assentos,Payload,Passageiros Totais,Carga Total,Assentos Preenchidos,Ano Mes
0,AAL,2000,1,KDFW,ESTADOS UNIDOS,AMÉRICA DO NORTE,SBGR,BRASIL,AMÉRICA DO SUL,Internacional,...,0.0,73.0,246750.0,30.0,6330.0,1050000.0,4074.0,97876.0,0.643602,200001
1,AAL,2000,1,KJFK,ESTADOS UNIDOS,AMÉRICA DO NORTE,SBGL,BRASIL,AMÉRICA DO SUL,Internacional,...,0.0,8034.0,223068.0,29.0,6119.0,464000.0,2469.0,48066.0,0.403497,200001
2,AAL,2000,1,KJFK,ESTADOS UNIDOS,AMÉRICA DO NORTE,SBGR,BRASIL,AMÉRICA DO SUL,Internacional,...,0.0,1980.0,221444.0,29.0,6119.0,1015000.0,3019.0,194997.0,0.493381,200001
3,AAL,2000,1,KMIA,ESTADOS UNIDOS,AMÉRICA DO NORTE,SBCF,BRASIL,AMÉRICA DO SUL,Internacional,...,948.0,3129.0,26748.0,4.0,0.0,0.0,634.0,21102.0,0.852856,200001
4,AAL,2000,1,KMIA,ESTADOS UNIDOS,AMÉRICA DO NORTE,SBGL,BRASIL,AMÉRICA DO SUL,Internacional,...,5974.0,31215.0,180549.0,27.0,5486.0,910000.0,4105.0,106707.0,0.748268,200001

In [7]:
dataset = original_dataset[['Empresa', 'Aeroporto Origem', 'Aeroporto Destino', 'Natureza', 'Ano Mes', 'Assentos Preenchidos']]
X = dataset.iloc[:, :-1]
y = dataset.iloc[:, 5]

In [8]:
# Encoding categorical data
# Encoding the Independent Variable
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
le = LabelEncoder()
X_2 = X.apply(le.fit_transform)
X_2.head()

   Empresa  Aeroporto Origem  Aeroporto Destino  Natureza  Ano Mes
0        1               138                418         1        0
1        1               155                414         1        0
2        1               155                418         1        0
3        1               169                387         1        0
4        1               169                414         1        0

In [9]:
encoder = OneHotEncoder()

encoder.fit(X_2)

labels = encoder.transform(X_2).toarray()
labels.shape

(781305, 2224)

In [10]:
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_2, y, test_size = 0.2, random_state = 0)

In [33]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(n_estimators = 10, random_state = 0)
regressor.fit(X_train, y_train)

y_pred = regressor.predict(X_test)

In [24]:
y_pred

array([ 0.99259259,  0.85198288,  0.97375297, ...,  0.89064778,
        0.57568108,  0.86059238])

In [34]:
from sklearn.metrics import mean_squared_error
from math import sqrt

rms = sqrt(mean_squared_error(y_test, y_pred))
rms

0.267852787878462