In [1]:
import pandas as pd
import numpy as np

In [11]:
aerodromes = pd.read_csv('../aerodrome.csv', header=0, engine='python', encoding='utf-8')
full_aerodromes = pd.read_csv('../full_aerodrome.csv', engine='python', encoding='utf-8', error_bad_lines=False)

Skipping line 330: ',' expected after '"'
Skipping line 667: ',' expected after '"'
Skipping line 1311: ',' expected after '"'
Skipping line 1464: ',' expected after '"'
Skipping line 1465: ',' expected after '"'
Skipping line 2683: ',' expected after '"'

In [15]:
full_aerodromes_short = full_aerodromes[['Sigla', 'Latitude', 'Longitude']]
full_aerodromes_short.head()

  Sigla  Latitude   Longitude
0  AYGA -6.081690  145.391998
1  AYMD -5.207080  145.789001
2  AYMH -5.826790  144.296005
3  AYNZ -6.569803  146.725977
4  AYPY -9.443380  147.220001

In [18]:
aerodromes_coordinates = aerodromes.join(full_aerodromes_short.set_index('Sigla'), on='Sigla')
aerodromes_coordinates.head()

,Sigla,Nome,Pais,Continente,Latitude,Longitude
0,KDFW,DALLAS/FORT WORTH,ESTADOS UNIDOS,AMÉRICA DO NORTE,32.896801,-97.038002
1,KJFK,NEW YORK,ESTADOS UNIDOS,AMÉRICA DO NORTE,40.639801,-73.778900
2,KMIA,MIAMI,ESTADOS UNIDOS,AMÉRICA DO NORTE,25.793200,-80.290604
3,SBCF,BELO HORIZONTE - CONFINS,BRASIL,AMÉRICA DO SUL,-19.624443,-43.971943
4,SBGL,RIO DE JANEIRO - GALEÃO,BRASIL,AMÉRICA DO SUL,-22.809999,-43.250557

In [19]:
aerodromes_coordinates.to_csv('../aerodromes_coordinates.csv', header=1, index=False, encoding='utf-8')